/*----------------------------------  REGISTER FORM  ----------------------------------*/
body{
    background-image: linear-gradient(319.49deg, #143e5f 1.87%, #740d86 109.19%);   
    width: auto;
    height: 100%; 
}

.register-grid{
    margin: 3% auto;
    width: 90%;
    display: grid; 
    grid-template-columns: auto auto;
}

.register-img{  
    float: right;
    margin: auto 10px;
}

.pikachu{
    width: auto;
    height: 40rem;    
    float: right;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 #000000;
}

#registerForm {
    margin: 10px;
    width: 120%;
    padding: 20px; 
    background-image: linear-gradient(319.49deg, #345874 1.87%, #57998c 109.19%);
    border-radius: 25px;
    box-shadow: 0 0  8px 0 #000000;
    color: #ffffff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#registerForm h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#registerForm label {
    font-size: 18px;
}

#registerForm input {
    margin-bottom: 17px; 
    padding: 13px; 
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #00000000;
    color: #ffffff;
    width: 93%;
    font-size: 18px;
}

#registerForm button {
    background-image: linear-gradient(319.49deg, #07c4c4 1.87%, #96cf9c 109.19%);
    color: #ffffff;
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 18px;
    border-radius: 25px;
    padding: 12px 50px; 
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 37%;
}

#registerForm button:hover {
    background-image: linear-gradient(319.49deg, #158a84 1.87%, #158a84 109.19%);
}

.grouplogo{
    position: absolute;
    margin: 10px 15px;
    top: 10px;
    right: 10px;
    width: auto;
    height: 10%;
}

#groupname{
    position: absolute;
    color: #ffffff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#hiddenMessage {
    justify-content: center;
    margin: auto;
    width: 30%;
    background-image: linear-gradient(319.49deg, #345874 1.87%, #57998c 109.19%);
    border-radius: 25px;
    z-index: 1000;
    position: absolute;
    border: 3px solid #ffffff;
    text-align: center;
    color: #ffffff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


#login{
    font-family:'Trebuchet MS', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    background-image: linear-gradient(319.49deg, #07c4c4 1.87%, #96cf9c 109.19%);
    border-radius: 25px;
    border: 0;
    margin: 15px;
    cursor: pointer;
}

#login:hover{
    background-image: linear-gradient(319.49deg, #158a84 1.87%, #158a84 109.19%);
}

.hidden {
    display: none;
}

footer{
    text-align: center;
    color: #ffffff;
    font-family:'Trebuchet MS', Arial, sans-serif;
}
